@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  
  label {
    display: block;
  }
  
  nav {
    align-items: center;
    background-color: #24305E; 
    display: flex;
    height:t 3em;
    padding: 1em;
    margin: 1em;
    position: relative;
  }
  
  
  nav a {
    display: inline-block;
    margin: 1em;
    color: #e0fbfc;
  }
  
  .nav-bar {
  color: #24305E; 
  }
  
  form div {
    margin: 1em;
    display: inline-block;
  }
  
  .all-cars {
    text-align: center;
    /* border: 1px solid blue; */
    height: 375px;
    width: 325px;
    margin: 40px;
    padding: 10px;
    background: linear-gradient(white, skyblue);
    border-radius: 25%;
  }
  .all-cars-btn {
    margin-bottom: 5px;
  }
  
  .all-cars-img {
    border-radius: 25%;
    margin-top: 20px;
  }
  
  .create-car {
    border: 2px solid #24305E;
    float: right;
    margin: 15px 0 0 400px;
    position: relative;
    padding: 10px;
    max-width: 200px;
  }